# Requirements file for testing LabCIRS (only cirs unit tests)

# just the standard requirements
-r requirements.txt
parameterized==0.9.0
model-mommy==2.0.0
django-migration-testcase==0.0.15
selenium==4.30.0