Django==2.2.24
Pillow==6.2.2
django-multiselectfield==0.1.12
django-parler==2.0.1
django-registration-redux==2.8
#  following was necessary on Ubuntu 14.04 with Python 2 to run setup
# scandir
#pathlib2