{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ ORGANIZATION }} - LabCIRS {% trans "registration" %}</title>
</head>

<body>
<p>
{% blocktrans with dept_label=user.reviewer.departments.get.label dept_name=user.reviewer.departments.first.name %}
The new user ({{ user }}) has asked to register an LabCIRS account for 
{{ dept_name }} ({{ dept_label }}).
{% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    To approve this, please
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'registration_admin_approve' profile_id %}"> {% trans "click here" %}</a>.
</p>
<p>
{% blocktrans %}
Sincerely,
{{ ORGANIZATION }} - LabCIRS Management
{% endblocktrans %}
</p>
</body>

</html>
