{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ ORGANIZATION }} - LabCIRS {% trans "admin approval" %}</title>
</head>

<body>
<p>
    {% blocktrans %}
    Your account is now approved. You can 
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'labcirs_home' %}">{% trans "log in." %}</a>    
</p>
<p>
{% blocktrans %}
IMPORTANT: The initial password for the reporter user is equal to his user name but you can change it after login!
{% endblocktrans %}
</p>
</body>

</html>