{% extends "base.html" %}


{% block cirs_nav %}
	{% load i18n %}
  	<div> 
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
  			<span class="navbar-toggler-icon"></span>
			</button>
  		<div class="collapse navbar-collapse" id="navbarMenu">
      		<ul class="navbar-nav nav-pills">
      			{% if request.path != dept_list and request.path != home %}
                	{% url 'incidents_for_department' dept=department|default:view.kwargs.dept as url %}
                	<li class="nav-item">
                		<a class="nav-link{% if request.path == url %} active text-light bg-dark
                			{% endif %}" href="{{ url }}">{% trans "View incidents" %}</a>
                	</li>
                	{% if user.reporter %}
                		{% url 'create_incident' dept=user.reporter.department.label as url %}
                		<li class="nav-item">
                			<a class="nav-link{% if request.path == url %} active text-light bg-dark
                			{% endif %}" href="{{ url }}">{% trans "Add incident" %}</a>
                		</li>
                	{% endif %}
                	{% url 'incident_search' dept=department|default:view.kwargs.dept as url %}
                	<li class="nav-item">
                		<a class="nav-link
                			{% comment %}
                				Works on all pages only because not existing variables are ignored in templates
                			{% endcomment %}
                			{% if request.path == url or request.path == incident.get_absolute_url %}
                				active text-light bg-dark
                			{% endif %}" 
                		href="{{ url }}">{% trans "Comments" %}</a>
                	</li>
                {% endif %}
            	{% if user.is_superuser or user.is_staff %}
	                <li class="nav-item">
	                	<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
	                </li>
          		{% endif %}
      		</ul>
      	</div>
	</div>
{% endblock %}

