{% extends "cirs/base.html" %}

{% block head %}
	{{ block.super }}
	{% load i18n %}
	<link rel="stylesheet" type="text/css" href={{ STATIC_URL }}css/jquery-ui.min.css />
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container">
		<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
			{# very ugly hack to force the choice of real public! #}
			<input type="hidden" value="{% trans "Empty" %}" name="public"></input>
			<table class="table">
				{{ form }}
			</table>
			<hr>
			<p class="alert alert-success">{% trans "Anonymous report will be send. There is no possibility to change the report." %}</p>
			<button type="submit" class="btn btn-danger">{% trans "Send" %}</button> 
		</form>
    </div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.13.2.min.js"></script>

	{% get_current_language as LANGUAGE_CODE %}
	
	{% if LANGUAGE_CODE != "en" %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-{{ LANGUAGE_CODE }}.js"></script>
	{% endif %}
	
	<script type="text/javascript">
	    $(document).ready(function(){
		{% if LANGUAGE_CODE == "en" %}
			$("#id_date").datepicker( $.datepicker.regional[ "" ] );
		{% else %}
			$("#id_date").datepicker( $.datepicker.regional[ "{{ LANGUAGE_CODE }}" ] );
		{% endif %}
	    });
	</script>
{% endblock %}
