{% extends "cirs/base.html" %}

{% block content %}
{% load i18n %}
	<div class="container">
	    <h4>{% trans "Incident!" %}</h4>
	    <p>{{ object }}</p>
	    <p>Date: {{ object.date }}</p>
	    <p>Incident: {{ object.incident }}</p>
	    <p>Reason: {{ object.reason }}</p>
	    <p>Immediate action: {{ object.immediate_action }}</p>
	    <p>Preventability: {{ object.preventability }}</p>

		{% if object.comments.all|length > 0 %}
			<hr/>
			<div class="comments">
	    		<h4 class="text-center">{% trans "Comments:" %}</h4>
	    		<ul class="media-list">
					{% for comment in object.comments.all %}
						<li>{{ comment }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
    
    	{% comment %}
    	{% get_comment_count for object as comment_count %}
    	{% if comment_count %}
    		<hr/>
    		<div class="comments">
	    		<h4 class="text-center">{% trans "Comments:" %}</h4>
	    		<ul class="media-list">
    				{% render_xtdcomment_tree for object %}
    			</ul>
	    	</div>
    	{% endif %}
    	{% endcomment %}
    	<div class="comment">
  			<h4 class="text-center">{% trans "Your comment" %}</h4>
  			<div class="well">
  				{% comment %}{% render_comment_form for object %}{% endcomment %}
  			</div>
		</div>
	</div>
{% endblock %}