{% extends "cirs/base.html" %}

{% block content %}
{% load i18n %}
    <div class="jumbotron">
	<div class="container">
	    <h1>{% trans "Thank you!" %}</h1>
	    <br>
	    <p class="alert alert-info">If you want to comment on this report in future, plesase write down this code: 
	    {% for message in messages %}
	    {{ message }}
	    {% endfor %}
	    </p>
	    
	    <a href="{% url 'logout' %}" class="btn btn-primary btn-lg" role="button">{% trans "Log out" %}</a>
	    {% with department=user.reporter.department.label %}
	    	<a href="{% url 'incidents_for_department' dept=department %}" class="btn btn-primary btn-lg" role="button">{% trans "View incidents" %}</a>
	    	<a href="{% url 'create_incident' dept=department %}" class="btn btn-primary btn-lg" role="button">{% trans "One more" %}</a>
	    {% endwith %}
        </div>
    </div>
{% endblock %}